.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/public/img/*
!/public/img/default.jfif
!/public/img/fixtures/
###< symfony/framework-bundle ###
